.bg-white{
    -fx-background-color: #ffffff;
}

.titleContainer{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);

}
#MenuContainer{

}

.menuItem:hover{
    -fx-background-color: #a49f9f;
}
/* display flex java fx*/
.hbox{
    -fx-spacing: 10;
    -fx-alignment: center;
}
.card{
    -fx-border-width: 1;
    -fx-border-color: #0f2be0;
    -fx-border-radius: 10;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}
.card-image{
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}
.card-image:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.16), 10, 0, 0, 0);
}
.card-title{
    -fx-font-size: 20;
    -fx-font-weight: bold;

}

